

<div map-lazy-load="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhq8jk58jNGy9rYP4LDkkPcgAOmsIzdqY">
    <ng-map id='travelmap' center='[48.4713, 1.0143]' zoom='3' style="height: 90%; width: 70%">
      <marker ng-repeat="p in listpoint track by $index"
            id="custom-marker-{{p.id}}" on-click="affichage(p)"
            position="[{{p.location.latitude}}, {{p.location.longitude}}]">
          </marker>

    </ng-map>

</div>

<div>

<h1>{{info.location.city}}</h1>
<p>{{info.image.daylight.preview}}</p>
<img src="{{mapUrl}}" alt="">
<!-- <p><a name="lkr-timelapse-player" data-id="{{info.id}}" data-play="lifetime" href="//lookr.com/{{info.id}}" target="_blank">Simplon Hospiz, Hospiz &rsaquo; North: Simplon Pass</a>
   <script async type="text/javascript" src="http://api.lookr.com/embed/script/timelapse.js"></script> -->
   <!-- <iframe width="100%" name="lkr-timelapse-player-iframe" frameborder="0" allowfullscreen="true" src="//api.lookr.com/embed/timelapse/{{info.id}}/lifetime?autoresize=1" style="border: none;" height="423"></iframe> -->
   <iframe ng-src="{{mapimg}}" width="100%" height="" frameborder="0"></iframe>

  <!-- <iframe src="https://www.lookr.com/lookout/1484224733#action-play-day" data-auto-height="false" width="480" height="640" frameborder="0"></iframe> -->

</div>
<!-- 1385551757 -->
