<div class="container-hero">
    <!--nav-->
    <nav id="menu" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true" style="color:#D70F64"></span>
        </button>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="glyphicon glyphicon-user" aria-hidden="true" style="color:#D70F64"></span>
        </button>
                <a class="navbar-brand logo_navbar" href=""><img class="logo_navbar" src="img/logo_nourristoi.png" alt=""></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" style="color:#D70F64">Se connecter</a>
                        <ul class="dropdown-menu">
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle"><span class="glyphicon glyphicon-shopping-cart icon-cart" aria-hidden="true" style="color:#D70F64"></span></a>
                        <ul class="dropdown-menu">
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" style="color:#D70F64">English</a>
                    </li>
                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <header>
        <div class="header-background">
            <div class="row top-menu">
                <div class="col-xs-4 col-xs-offset-1 col-md-4 col-md-offset-2 text-left logo_font"><img class="logo" src="img/logo2.png" alt="">Webcamolidays</div>
                <div class="col-md-4 text-right"><span class="language">English</span><span class="glyphicon glyphicon-shopping-cart icon-cart" aria-hidden="true"></span>
                    <button class="btn btn-default login_button" type="submit">Se connecter</button></div>
            </div>

        </div>
        <!-- End header-background -->
    </header>
</div>
